<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <select id="list" resultType="com.example.android.domain.UserVO">
        select * from users
        where uid like concat('%',#{word},'%')
        or uname like concat('%',#{word},'%')
        or address1 like concat('%',#{word},'%')
        limit #{start},#{size}
    </select>
     <select id="total" resultType="int">
        select count(*) from users
        where uid like concat('%',#{word},'%')
        or uname like concat('%',#{word},'%')
        or address1 like concat('%',#{word},'%')
    </select>
    
    <select id="read" resultType="com.example.android.domain.UserVO">
        select * from users where uid = #{uid}
    </select>
    <insert id="insert">
    	insert into users(uid,upass,uname,address1,address2,phone)
    	values(#{uid},#{upass},#{uname},#{address1},#{address2},#{phone})
    </insert>
    <update id="update">
    	update users
    	set uname=#{uname},address1=#{address1},address2=#{address2},phone=#{phone}
    	where uid = #{uid}
    </update>
</mapper>